@import-normalize;
@import './recipe-list.css';
@import './recipe.css';
@import './ingredient-list.css';
@import './buttons.css';

*, *::before, *::after {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
}

.mr-1 {
	margin-right: 5px;
}
